<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% if utente %}Modifica Utente{% else %}Crea Utente{% endif %}</title>
</head>
<body>
    <h1>{% if utente %}Modifica Utente{% else %}Crea Utente{% endif %}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salva</button>
    </form>
</body>
</html>
